.signup-container {
	background-color: white;
	padding: 3em;
    margin-bottom: 1em;
    input {
        padding: 1em;
        margin-bottom: 2em;
    }
}

.eduka-pink {
    background-color: #fe47aa;
} 
