<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo" routerLink="/">&nbsp;EDUKA</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <a href="#home">Home</a></li>
      <li> <a href="#about">About</a></li>
      <li> <a href="#features">Features</a></li>
      <li> <a href="#">Pricing</a></li>
    </ul>
  </div>
</nav>

<div class="room-manager-container">
	<br><br><br>
	<div class="center-align">
		<h2 class="rmc-tc"> <b>Stay Connected with all your</b></h2><h2 class="rmc-tc"><b>teammates and friends!</b></h2>
	</div>
	<br><br><br>
	<div class="center-align">
		<button class="btn-large join-room" [routerLink]="['/joinroom']"><b>Join Room</b></button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn-large create-room" [routerLink]="['/createroom']"><b>Create Room</b></button>
	</div>
	<br><br><br>
</div>

<div class="my-classrooms-container">
	<h2 class="rmc-tc"><b>Your Rooms</b></h2>	
	<div class="pink-line"></div>
	<div class="select-room" scrollX="true" *ngFor="let room of rooms">
		<p class="name"> {{room.name}} </p>
		<img src="../../assets/homepage/bg-image8.jpg" width="30%" height="50%">
	</div>
</div>
<div class="my-classrooms-container">
	<h2 class="rmc-tc"><b>Rooms Shared with You</b></h2>
	<div class="pink-line"></div>

</div>