nav {
	a {
		color: black;
	}
	ul {
		li {
		 	a { 
		 		color: black;
		 	}
		}
	}
}


.room-manager-container {
	background-color: #f3f4f9;
}

.select-room {

    img {
    	display: inline-block;
    }
}


.my-classrooms-container {
	padding: 3em;
	background-color: white;
	height: 600px;
	overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    h4 {
    	color: black;
    	font-size: 1.5vw;
    	margin-left: 0.5em;	
    }
}

.my-classrooms-container::-webkit-scrollbar { 
  	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.rmc-tc {
	color: #575e68;
}

.eduka-pink {
    background-color: #fe47aa;
} 


.join-room {
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #fe47aa;
	color: #fe47aa;
}

.create-room {
	background-color: #fe47aa;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	color: white;
}

.pink-line {
	height: 5px;
	width: 25%;
    background-color: #fe47aa;
}