<!--<nav>-->
<!--  <div class="nav-wrapper">-->
<!--    <a href="#" class="brand-logo" routerLink="/">Educom</a>-->
<!--    <ul id="nav-mobile" class="right hide-on-med-and-down">-->
<!--      <li> <a href="#home">Home</a></li>-->
<!--      <li> <a href="#about">About</a></li>-->
<!--      <li> <a href="#features">Features</a></li>-->
<!--      <li> <a href="#">Pricing</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<!-- Header -->
<header id="header">
  <div class="row">
    <div class="col-md-12">
      <div class="inner">
        <a href="#" class="logo" routerLink="/">Educom</a>
        <nav id="nav" class="navigation">
          <a href="/">Home</a>
          <a href="#" (click)="logout()">Logout</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </div>
  </div>
</header>


<div class="room-manager-container darken-pseudo darken-with-text">
  <!--  <div class="banner">-->
  <br>
  <br>
  <div id="" [style.color]="'black'" class="alert alert-success" role="alert" *ngIf="message">
    {{message}}
    <br>
  </div>
  <div class="center-align">
    <h2 class="rmc-tc"><b>Stay Connected with all your</b></h2>
    <h2 class="rmc-tc"><b>teammates and friends!</b></h2>
  </div>
  <br><br><br>
  <div class="center-align">
    <button class="btn-large join-room" [routerLink]="['/joinroom']"><b>Join Room</b></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn-large create-room" [routerLink]="['/createroom']"><b>Create Room</b></button>
  </div>
  <br><br><br>
  <!--  </div>-->
</div>

<div class="heading-container">
  <h2 class="room-heading"><b>Your Rooms</b></h2>
  <div class="pink-line"></div>
</div>
<div class="my-classrooms-container">
  <div class="select-room" scrollX="true" *ngFor="let room of rooms">
    <img class="room-item" src="../../assets/homepage/bg-image8.jpg" alt="{{ room.name }}">
    <h4 class="name"> {{room.name}} </h4>
    <p class="description"><i>{{ room.description }}</i></p>
  </div>
</div>
<div class="heading-container">
  <h2 class="room-heading"><b>Rooms shared with You</b></h2>
  <div class="pink-line"></div>
</div>
<div class="my-classrooms-container">
  <div class="select-room" scrollX="true" *ngFor="let room of sharedRooms">
    <img class="room-item" src="../../assets/homepage/bg-image8.jpg" alt="{{ room.name }}">
    <h4 class="name"> {{room.name}} </h4>
    <p class="description"><i>{{ room.description }}</i></p>
  </div>
</div>
