<div class="container">
<br>
<br><br><br>
<div class="play-container0">
	<h2 id="home">Centralized Education Platform to </h2><h2>Share Knowledge and Grow Together</h2>
	<h4><i>Insert text here</i></h4>

<!-- 	<div class="row">
		<form class="col s12 m12 l12">
			<div class="row">
				<div class="input-field col s6 m4 l4">
					<input type="email" [(ngModel)]="newEmail" placeholder="Email">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6 m4 l4">
					<input type="password" [(ngModel)]="newPassword" placeholder="Password">
				</div>
			</div>
			<div class="row">
				<button (click)="signUp()" class="btn-large waves-effect eduka-pink" type="submit" name="signUp">Sign Up</button>
			</div>		
		</form>
	</div> -->
</div>

<div class="play-container">
	<h2 id="about">About</h2>
	<div style="height: 5px	; width: 25%; background-color: #fe47aa"></div>

	<div class="row">
		<div class="col s3 m3 l3">
			<br>
			<h3>Lorem Ipsum</h3>
			<p>Lorep IPsum stuff stuff stuff</p>
		</div> 
		<div class="right-align">
			<img src="https://memegenerator.net/img/instances/37201610/called-it.jpg" height="50%" width="45%">
		</div> 
	</div>
	<br>
	<br>
	<br>
	<br>
	<h2 id="features">Features</h2>
	<br>
	<br>
	<div style="height: 5px	; width: 25%; background-color: #fe47aa"></div>
	<br>
	<div class="custrow">
		<div class="custcolumn">
			<img src="https://memegenerator.net/img/instances/37201610/called-it.jpg" class="circle" width="100%">
		</div>
		<div class="custcolumn">
			<img src="https://memegenerator.net/img/instances/37201610/called-it.jpg" class="circle" width="100%">
		</div>
		<div class="custcolumn">
			<img src="https://memegenerator.net/img/instances/37201610/called-it.jpg" class="circle" width="100%">		
		</div>
	</div>
	<div class="custrow">
		<div class="custcolumn center-align">
			<h3>Feature 1</h3>
		</div>
		<div class="custcolumn center-align">
			<h3>Feature 2</h3>
		</div>
		<div class="custcolumn center-align">
			<h3>Feature 3</h3>
		</div>
	</div>
	<div class="custrow">
		<div class="custcolumn center-align">
			<p>Lorem Ipsum</p>
		</div>
		<div class="custcolumn center-align">
			<p>Lorem Ipsum</p>
		</div>
		<div class="custcolumn center-align">
			<p>Lorem Ipsum</p>
		</div>
	</div>
</div>

<div class="play-container1">

	<h2>Contact Us</h2>
	<div class="row">
		<div class="col s6 m7 l8">
			<h5><a href="#">Email</a></h5>
			<h5><a href="#">Facebook</a></h5>
			<h5><a href="#">Instagram</a></h5>
			<h5><a href="#">Twitter</a></h5>
		</div>
		<div class="right-align">
			<h5>Subscribe for updated information</h5>

			<div class="col s6 m4 l3">
				<input type="email" name="emailquestion" placeholder="Enter your email">
			</div>
		</div>
		<button class="btn-large waves-effect eduka-pink" type="submit" name="signUp">Subscribe</button>

	</div>
</div>
</div>

<!-- <div class="play-container">
	<p> You've click <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
</div> -->


<!-- <div class="play-container">
	<p>
		<input type="text" [(ngModel)]="name">
		<br>
		<strong>You said:</strong> {{ name }}
	</p>
</div>
 -->
<!-- <div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'"> -->

<!-- style binding -->
<!-- <div class="play-container" [ngStyle]="{
	'background-color': clickCounter > 4 ? 'yellow' : 'lightgray',
	'border': clickCounter > 4 ? '4px solid black' : 'none'}"> -->

<!-- Class Binding -->
<!-- <div class="play-container" [class.active]="clickCounter > 4"> -->
<!-- <div class="play-container" [ngClass]="setClasses()">
	<ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
		<p>The click counter <strong>IS GREATER</strong> than 4.</p>
	</ng-template>
	
	<ng-template #none>
		<p>The click counter is <strong>not greater</strong> than 4</p>
	</ng-template>
</div> -->