<div class="container">
	<div class="createroom-container">
		<h1>Create Room</h1>
		<hr>
		<div class="row">	
			<div class="input-field col s6 m4 l4">
				<input type="text" name="roomname" placeholder="Room Name">
			</div>
		</div>
		<div class="row">	
			<div class="input-field col s6 m4 l4">
				<textarea id="textarea1" class="materialize-textarea" placeholder="Description"></textarea>			
			</div>
		</div>
		<div class="row">
			<button class="btn-large waves-effect eduka-pink" type="submit" name="createRoom">Create Room</button>
		</div>	
	</div>
</div>