<div class="container">
	<div class="createchannel-container">
		<h1>Create Room</h1>
		<hr>
<!-- 		<div class="alert alert-danger" role="alert" *ngIf="errorMsg">
      		{{errorMsg}}
    	</div> -->
		<div class="row">
			<div class="input-field col s6 m4 l4">
				<input type="text" [(ngModel)]="channelName" placeholder="Room Name">
			</div>
		</div>
<!-- 		<div class="row">
			<button (click)="createChannel()"class="btn-large waves-effect eduka-pink" type="submit" name="createChannel" [class.spinner]="loading" [disabled]="loading">Create Channel</button>
		</div> -->
	</div>
</div>
