<div class="">
  <div class="">
    <!-- Header -->
    <header id="header">
      <div class="row">
        <div class="col-md-12">
          <div class="inner">
            <a href="#" class="logo" routerLink="/">Educom</a>
            <nav id="nav" class="navigation">
              <a href="/">Home</a>
              <a href="#" routerLink="/logout">Logout</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="room-manager-container darken-pseudo darken-with-text">
  </div>


  <div class="container-fluid mycontainer">
    <div class="row">
      <div class="col-md-12">
        <h1 class="room-name">Room 1 #ABCDE</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="bottom-section">
          <div class="channel-list">
            <!-- ngFor (loop through channel list in room)	-->
            <button class="waves-effect" (click)="doSomething()">#General</button>
            <button class="waves-effect">#Announcements</button>
          </div>
          <div class="chat-box">
            <div class="sent-message">
              <!-- <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
              <p><b>Hengky</b> Hello. How are you today?</p>
              <span class="time-right">11:00</span>
            </div>
            <div class="sent-message">
              <!-- <img src="/w3images/bandmember.jpg" alt="Avatar"> -->
              <p><b>Ryan</b> I am good sir</p>
              <span class="time-right">11:01</span>
            </div>
          </div>
          <input type="text" class="message-box" placeholder="type your message here...">
        </div>
      </div>
    </div>
  </div>

</div>
<br><br>

<app-footer></app-footer>
